.skillcore__acts{
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
}

.skillcore__acts-heading_bar-top{
  margin-right: 1rem;
  padding: 0.5rem;
  width: 1rem;
  border-radius: 20px;
  /* background:linear-gradient(90deg, rgba(119, 175, 93, 1) 0%, rgba(194, 255, 166, 1) 100%); */
  /* background: rgba(119, 175, 93, 1); */
  background: var(--color-font);
}

.skillcore__acts-heading{
  display: flex;
  /* flex-direction: column; */
  justify-content:left;
  margin: 4rem 0;
  /* justify-content: center; */
  /* width: 100%; */
  /* text-align: center; */
  margin-left: 2rem;
  flex: 1;
}

.skillcore__acts-heading span{
  color: var(--color-font);
}

.skillcore__acts-heading_content h1{
  font-family: var(--font-family);
  font-size: 68px;
  padding: 1rem;
  /* border: solid thistle 1rem; */
  border-radius: 5px;
  margin: auto 0;
}

.skillcore__acts-heading_content p{
  font-family: var(--font-family);
  font-weight: 100;
}

.skillcore__acts-content{
  display: flex;
  flex: 1; 
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1110px) {
  .skillcore__acts-heading_content{
    margin: auto 0;
  }

  .skillcore__acts-heading_content h1{
    font-size: 62px;
  }
  .skillcore__acts-heading_content p{
    font-size: 14px;
  }
}

@media screen and (max-width: 880px) {
  .skillcore__acts-heading_content h1{
    font-size: 52px;
  }

  .skillcore__acts-heading_content p{
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .skillcore__acts{
    margin-top: 4rem;
    flex-direction: column;
  }

  .skillcore__acts-heading{
    margin-left: 1rem;
  }

  .skillcore__acts-heading_content h1{
    font-size: 42px;
    padding-left: 0;
  }

  .skillcore__acts-heading_content p{
    padding-right: 1rem;
  }
}
