.skillcore__services{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skillcore__services-heading_bar-top{
  margin-right: 1rem;
  padding: 0.5rem;
  width: 1rem;
  border-radius: 20px;
  /* background:linear-gradient(90deg, rgba(119, 175, 93, 1) 0%, rgba(194, 255, 166, 1) 100%); */
  background: #ac334d;
  /* background: rgb(196, 128, 128); */
}


.skillcore__services-heading{
  margin: 2rem 4rem 6rem 4rem;
  display: flex;
  /* text-align: right; */
}

.skillcore__services-heading span{
  color: var(--color-font);
}

.skillcore__services-heading_content h1{
  font-family: var(--font-family);
  font-size: 82px;
  font-weight: 500;
  
}

.skillcore__services-heading_content p{
  font-family: var(--font-family);
  font-weight: 100;
  margin-top: 0;
  margin-left: 1rem;
}

.skillcore__services-container_top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillcore__services-container_middle{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skillcore__services-container_bottom{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 970px) {
  .skillcore__services-heading h1{
    font-size: 70px;
    line-height: 72px;
    margin-bottom: 1rem;
  }

  .skillcore__services-container_middle-dots{
    display: flex;
  }

  .skillcore__services-container_middle{
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .skillcore__services-heading{
    margin-left: 1rem;
  }
  .skillcore__services-heading h1{
    font-size: 54px;
    line-height: 60px;
  }

  .skillcore__services-heading p{
    margin-left: 0;
    font-size: 14px;
  }

  .skillcore__services-container_top{
    margin: 0;
  }
}