.skillcore__navbar{
  margin: 1rem auto;
  padding: 0.5rem 6rem;
  background-color: var(--color-bg);
  border-radius: 20px;
  width:95%;
  
}

.skillcore__navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillcore__navbar-links_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.skillcore__navbar-links_logo h1{
  font-family: var(--font-family);
  /*   */
  /* color: var(--color-bg); */
  color: white;
  font-weight: 100;
  font-size: 48px;
}

.skillcore__navbar-links_container{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.skillcore__navbar-links_container p {
  font-family: var(--font-family);
  margin-right: 2rem;
  font-size: 28px;
  font-weight: 100;
  color: #FFF;
  /* color: var(--color-bg); */
  cursor: pointer;
}