.skillcore__navbar{
  /* margin: 1rem auto; */
  padding: 0.5rem 6rem;
  background-color: var(--color-bg);
  /* border-radius: 20px; */
  width:100%;
  display: flex;
  /* background: white; */
  /* border-bottom: 5px rgb(194, 71, 87) solid; */
}

.skillcore__navbar-menu{
  display: none;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.skillcore__navbar-menu_container{
  position: absolute;
  top: 80px;
  padding: 2rem 4rem 1rem 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.skillcore__navbar-menu_container p{
  margin-bottom: 1rem;
  font-family: var(--font-family);
  color: #FFF;
}

.skillcore__navbar-links{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillcore__navbar-links_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: white 3px solid;
  border: #fff 3px solid;
}

.skillcore__navbar-links_logo h1{
  font-family: var(--font-family);
  /*   */
  /* color: var(--color-bg); */
  color: white;
  font-weight: 100;
  font-size: 42px;
  padding: 0.5rem 1rem;
}

.skillcore__navbar-links_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillcore__navbar-links_container p {
  font-family: var(--font-family);
  margin-right: 2rem;
  font-size: 22px;
  border-bottom: 3px rgba(255, 255, 255, 0) solid ;
  font-weight: 200;
  color: #FFF;
  /* color: var(--color-bg); */
  cursor: pointer;
  transition: border-bottom 1s;
}

.skillcore__navbar-links_container p:hover{
  border-bottom: 3px white solid;
}

.skillcore__navbar-links_btn{
  /* background:linear-gradient(90deg, rgba(119, 175, 93, 1) 0%, rgb(147, 235, 106) 100%); */
  background: rgba(119, 175, 93, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  width: 430px;
  cursor: pointer;
  transition: background 1s;
}

.skillcore__navbar-links_btn:hover{
  background: #00DFDE;
}
.skillcore__navbar-links_btn p{
  padding: 1rem 2rem;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  /* color: #FFF; */
  
}

.skillcore__navbar-contact{
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  background: var(--color-bg);
  z-index: 2;
  background: rgba(0, 0, 0, 0.26);
}

.skillcore__navbar-contact_container{
  width: 70%;
  z-index: 5;
  position: absolute;
  top: 50px;
  background: var(--color-bg);
  border-radius: 10px;
}

.skillcore__navbar-contact_close{
  padding: 1rem;
  cursor: pointer;
  width: 50px;
}


@media screen and (max-width: 1200px) {
  .skillcore__navbar-links_btn p{
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 950px) {
  .skillcore__navbar-links_logo h1{
    font-size: 30px;
  }

  .skillcore__navbar-links_container p{
    font-size: 18px;
  }

  .skillcore__navbar-links_btn p{
    font-size: 12px;
    padding: 1rem;
  }

  .skillcore__navbar-links_logo{
    margin-right: 3rem;
  }
}

@media screen and (max-width: 770px) {
  .skillcore__navbar-links_btn{
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .skillcore__navbar{
    padding: 2.5rem 6rem;
  }
  .skillcore__navbar-links_logo{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .skillcore__navbar{
    padding: 1.5rem;
  }
  /* .skillcore__navbar-links_logo{
    display: flex;
  } */
  .skillcore__navbar-links_container p{
    margin-right: 1rem;
  }
  .skillcore__navbar-menu{
    display: flex;
  }

  .skillcore__navbar-links{
    display: none;
  }
}