*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  color: unset;
  text-decoration: none;
}

/* body{
  background: var(--color-bg);
} */

.linear__bg

{

  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(98, 13, 32, 1) 0%, rgba(81, 13, 28, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(98, 13, 32, 1) 0%, rgba(81, 13, 28, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(98, 13, 32, 1) 0%, rgba(81, 13, 28, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#510D1C', endColorstr='#620D20', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(98, 13, 32, 1) 0%, rgba(81, 13, 28, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgb(117, 39, 57) 0%, rgba(81, 13, 28, 1) 100%);

}

.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin__top{
  margin-top: 6rem;
}


.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}

@media screen and (max-width: 700px){
  .section__padding{
    padding: 4rem;
  }

  .section__margin{
    margin: 4rem;
  }
}

@media screen and (max-width: 550px){
  .section__padding{
    padding: 4rem 2rem;
  }

  .section__margin{
    margin: 4rem 2rem; 
  }
}