.skillcore__header{
  padding-top: 4rem;
  margin: 1.5rem 1.5rem;
  background:linear-gradient(180deg, rgba(44, 22, 22, 0.7), rgba(0, 0, 0, 0.7)), url('../../Assets/trees2.jpeg');
  background-size: cover;
  border-radius: 50px;
  
}

.skillcore__header-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20rem;
}

.skillcore__header-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
  text-align: center;
}

.skillcore__header-title h1{
  font-family: var(--font-family);
  font-size: 76px;
  font-weight: 700;
  line-height: 76px;
  /* letter-spacing: -3px; */
  margin: auto auto;
  /* color: white; */
  /* color: #ad6f6f; */
  color: var(--color-font);
  color: rgb(245, 179, 188);
  margin-bottom: 3rem;
}

.skillcore__header-content_text{
  width: 40%;
}

.skillcore__header-content_text p{
  font-family: var(--font-family);
  color: var(--color-font);
  /* color: #d38395; */
  /* color: white; */
  color: rgb(245, 179, 188);
  letter-spacing: 0.5px;
  font-size: 20px;
  width: 100%;
}

.skillcore__header-content_img{
  width: 40%;
}

@media screen and (max-width: 950px) {
  .skillcore__header-title h1{
    font-size: 56px;
  }

  .skillcore__header-content_text p{
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .skillcore__header{
    margin: 1rem;
  }
  .skillcore__header-content{
    flex-direction: column;
  }

  .skillcore__header-content_text{
    width: 90%;
    text-align: center;
  }

  .skillcore__header-title h1{
    font-size: 48px;
    line-height: 46px;
    padding: 1rem;
  }

  .skillcore__header-title{
    margin-bottom: 0;
  }

  .skillcore__header-content_text p{
    font-size: 14px;
  }

  .skillcore__header-content_dots{
    display: flex;
    margin-top: 1rem;

  }
}



