.skillcore__header{
  /* padding-top: 2rem;
  margin: 0 1rem; */
  padding: 1;
  
  /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../Assets/trees.jpeg'); */
  background-size: cover;
  /* border-radius: 10px; */
  
}

.skillcore__header-content{
  width: 100%;
  margin: 1;
  /* border-radius: 20px; */
  padding: 2rem 8rem;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../Assets/trees2.jpeg');
  background-size: cover;

  
}

.skillcore__header-content_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 1rem; */
  margin-bottom: 25rem;
  text-align: center;
}

.skillcore__header-content_title h1{
  font-family: var(--font-family);
  font-size: 76px;
  font-weight: 800;
  line-height: 76px;
  /* letter-spacing: -3px; */
  margin: auto auto;
  /* color: white; */
  /* color: #ad6f6f; */
  color: var(--color-font);
  color: rgb(245, 179, 188);
  margin-bottom: 3rem;
}

.skillcore__header-content_title p{
  font-family: var(--font-family);
  color: var(--color-font);
  /* color: #d38395; */
  /* color: white; */
  color: rgb(245, 179, 188);
  letter-spacing: 0.5px;

  font-size: 20px;
}

.skillcoure__header-footer_image{
  width: 100%;
  background-image: url('../../Assets/trees.jpeg');
  background-size: cover;
  height: 20vh;
}
