.skillcore__quote{
  display: flex;
  padding: 0rem 4rem;
  margin-bottom: 4rem;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
}

.skillcore__quote h1{
  font-size: 62px;
  font-family: var(--font-family);
  color: var(--color-font);
  text-overflow: clip;
} 

.skillcore__quote p{
  font-size: 26px;
  font-family: var(--font-family);
  color: #d38395;
}

.skillcore__quote-dots{
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .skillcore__quote{
    margin-top: 0;
    text-align: center;
    align-items: center;
  }

  .skillcore__quote-dots{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .skillcore__quote h1{
    font-size: 48px;
    margin-bottom: 0.2rem;
  }
}